BASE_URL="http://localhost:3000"
USER_EMAIL="admin@shifo.com"
USER_PASSWORD="admin123456"
SESSION_TOKEN=""
CLINIC_ID="1"
DOCTOR_ID="1"
PATIENT_ID="1"
VISIT_ID="1"
PAYMENT_ID="1"
INVENTORY_ITEM_ID="1"
MOVEMENT_ID="1"
EXPENSE_ID="1"
CONSUMPTION_ID="1"
VISIT_SERVICE_ID="1"
ODONTOGRAM_ID="1"
TOOTH_ID="11"
